.best-calendar-w {
  position: relative;
  > div {
    &:first-of-type {
      text-align: center;
      font-weight: bold;
    }
    &.day-names-wrapper {
      font-weight: bold;
      display: grid;
      grid-column-gap: 5px;
      grid-template-columns: repeat(7, 60px);
      margin-top: 10px;
      > div {
        text-align: center;
        &:first-of-type,
        &:last-of-type {
          color: crimson;
        }
      }
    }
    &.date-wrapper {
      > div[class^='row-'] {
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: repeat(7, 60px);
        margin-top: 10px;
        > div[class^='col-'] {
          text-align: center;
          background-color: rgba(0, 0, 0, 0.16);
          width: px;
          height: 25px;
          line-height: 25px;
          border-radius: 4px;
          &.current {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
