.auto-complete-w {
  position: relative;
  > div {
    &:first-of-type {
      > input {
        font-size: 30px;
        border: none;
        box-shadow: 0px 3px 6px darkolivegreen;
        border-radius: 10px;
        padding: 10px;
      }
    }
    &.list {
      height: 400px;
      padding: 10px;
      margin-top: 10px;
      overflow: auto;
      scrollbar-color: rgba(0, 0, 0, 0.16) #c3d99c;
      scrollbar-width: thin;
      > div {
        padding: 10px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        margin-bottom: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.1s linear;
        > span {
          &.highlight {
            color: #1ca263;
          }
        }
        &:hover {
          background-color: #4f642a5c;
          color: #fff;
          margin-left: 10px; /* inspired from https://programmingwithmosh.com/react/simple-react-autocomplete-component/ */
        }
      }
    }
  }
}
