<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./style.css" />
    <title>Simple Popup</title>
  </head>
  <body id="root">
    <div class="sample-1">
      <div>
        <pop-up icon="/assets/images/info.svg" text="A nice popup message">
        </pop-up>
        Hover over the icon.
      </div>
      <div>
        <input
          placeholder="Enter Popup text (press enter to submit)"
          id="pop-up-text"
          onkeyup="changeText(event)"
        />
      </div>
    </div>
  </body>
  <script src="dist/popup.bundle.js"></script>
  <script>
    function changeText(event) {
      if (event.key === 'Enter') {
        const popupElem = document.querySelector('pop-up');
        popupElem.setAttribute('text', event.target.value);
        event.target.value = '';
      }
    }
  </script>
</html>
