<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Img Input</title>
  </head>
  <body id="root">
    <div>
      <div>
        <i-input
          placeholder="username"
          icon="assets/images/social.svg"
        ></i-input>
      </div>
      <br />
      <div>
        <i-input
          placeholder="password"
          type="password"
          icon="assets/images/restricted.svg"
        ></i-input>
      </div>
      <br />
      <div>
        A cute paw as fallback icon.
      </div>
      <br />
      <div>
        <i-input></i-input>
      </div>
    </div>
  </body>
  <script src="dist/imginput.bundle.js"></script>
</html>
