<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple Popup</title>
  </head>
  <body id="root">
    <t-ree
      nodelist='[{"name":"1","children":[{"name":"1.1","children":[{"name":"1.1.1"}]},{"name":"1.2"}]},{"name":"2","children":[{"name":"2.1"}]}]'
    ></t-ree>
  </body>
  <script src="dist/tree.bundle.js"></script>
</html>
